header {
    position: sticky;
    top: 0;
    z-index: 1000;
}
section{
    padding: 60px 0;
}
.hero span{
    color: tomato;
}
.hero-content , #myForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-content .title {
    font-size: 88px;
    line-height: 96px;
    color: #000;
    font-weight: 700;
}
.hero h5{
    color: tomato;
}

#about{
    background-color: #000;
    color: #fff;
    padding: 120px 0;
}
.card img{
    width: 125px;
    height: 125px;
}

.contact-form-container {
    max-width: 400px; 
    margin: 0 auto; 
}
#contact{
    padding: 120px 0;
}

footer{
    background-color: #000;
}
/* for tablet responsive */
@media only screen and (max-width:991px) {

    .hero-content .title{
            font-size: 56px;
    }
    .hero h5{
        margin-top: 15px;
        font-size:15px;
    }
}

/* for mobile responsive */
@media only screen and (max-width:767px) {
    section{
        padding: 30px 0;
    }
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: center;
        text-align: center;
    }
    #hero_text{
        order: 2;
    }
    #hero_image{
        order: 1;
    }
}